* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 48px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}
.board {
  /* 浏览器居中显示 */
  margin: 200px auto;
  /* 设置为flex布局 */
  display: flex;
  /* 设置为行内块元素 */
  flex-wrap: wrap;
  /* 设置为水平居中 */
  justify-content: center;
  /* 设置为垂直居中 */
  align-items: center;
  /* 设置为固定大小 */
  width: 300px;
  height: 300px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 25px;
}
.game {
  display: flex;
  flex-direction: row;
}
.game-board {
  flex: 1;
}

.game-info {
  /* flex: 1; */
  /* margin-left: -400px; */
}
